{%	extends	"base.html" %}
{% load leaflet_tags %}
{% block content	%}
{% leaflet_map "yourmap" callback="window.map_init_basic" %} 
<!-- Button trigger modal -->
<div id="content" >
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Parcel</th>
            <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{ ulpin.id }}</th>
            <td>{{ ulpin.pid }}</td>
            <td>{{ ulpin.centroid.y }}</td>
            <td>{{ ulpin.centroid.x }}</td>
          </tr>
        </tbody>
      </table>
</div>

  <script>
    let lat = Number('{{ ulpin.centroid.y }}');
    let long = Number('{{ ulpin.centroid.x }}');
      function map_init_basic (map, options) {
         L.marker([lat, long]).addTo(map);
    }
  </script>
{% endblock	%}