{%	extends	"base.html" %}
{% load leaflet_tags %}
{% block content	%}
{% leaflet_map "yourmap" callback="window.map_init_basic" %} 
<!-- Button trigger modal -->
<div id="content" >
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">District</th>
            <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{ ulpin.id }}</th>
            <td>{{ ulpin.district }}</td>
            <td>{{ ulpin.latitude }}</td>
            <td>{{ ulpin.longitude }}</td>
          </tr>
        </tbody>
      </table>
</div>

  <script>
    let lat = Number('{{ ulpin.latitude }}');
    let long = Number('{{ ulpin.longitude }}');
      function map_init_basic (map, options) {
         L.marker([lat, long]).addTo(map);

         function onLocationFound(e) {
              var radius = e.accuracy / 2;

              L.marker(e.latlng).addTo(map)
                  .bindPopup("You are within " + radius + " meters from this point").openPopup();

              L.circle(e.latlng, radius).addTo(map);
          }

          function onLocationError(e) {
              alert(e.message);
          }

          map.on('locationfound', onLocationFound);
          map.on('locationerror', onLocationError);

          map.locate({setView: true, maxZoom: 16})
    }
  </script>
{% endblock	%}